<h1>Ratings</h1>

<h2>Best of</h2>

<table>
  <tbody>
  <tr>
    <td><%= render partial: "best" , locals:{ best: @top_breweries, title: "Best breweries" } %></td>
    <td><%= render partial: "best" , locals:{ best: @top_beers, title: "Best beers" } %></td>
  </tr>
  </tbody>
</table>

<h2>Most recent ratings</h2>

<ul>
  <% @recent_ratings.each do |rating| %>
    <li> <%= rating.beer.name + " " + rating.score.to_s + " " + rating.created_at.to_s %></li>
  <% end %>
</ul>


<%#= render 'best', :locals => { @foo : bar } %>
<%#= render partial: "best" , locals:{ foo: @top_breweries.first.name } %>


<%#= render partial: "best" , locals:{ best: @top_breweries, title: "Breweries" } %>
<%#= render partial: "best" , locals:{ best: @top_beers, title: "Beers" } %>

<h2>List of all ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating.beer.name + " " + rating.score.to_s %>
      <%= link_to rating.user.username, user_path(rating.user.id) %>
    </li>
  <% end %>
</ul>

<%= link_to("Add new rating", new_rating_path, class:'btn btn-primary') %>