

<h1>Breweries</h1>

<p>Number of breweries: <%= @breweries.count %></p>

<div id="breweries">
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th scope="col">Name of brewery</th>
      <th scope="col">Foundation year</th>
    </tr>
    </thead>
    <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to("New brewery", new_brewery_path, class:'btn btn-primary') if current_user %>

<p><%= link_to "List of beers", beers_path %></p>