

<h1>Beers</h1>

<!--<div id="beers">-->
  <%# @beers.each do |beer| %>
    <%#= render beer %>
  <%# end %>
<!--</div>-->

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th><%= link_to "Name", beers_path(order: "name")%></th>
    <th><%= link_to "Style", beers_path(order: "style")%></th>
    <th><%= link_to "Brewery", beers_path(order: "brewery")%></th>
    <th><%= link_to "Rating", beers_path(order: "rating")%></th>
  </tr>
  </thead>
  <tbody>
  <% @beers.each do |beer| %>
    <tr>
      <td><%= link_to "#{beer.name}", beer %></td>
      <td><%= link_to beer.style.name, style_path(beer.style.id) %></td>
      <td><%= link_to beer.brewery.name, brewery_path(beer.brewery.id) %></td>
      <td><%= round(beer.average_rating) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!--<div id="beers">-->
  <%# @beers.each do |beer| %>
<!--    <div id="<%#= dom_id beer %>">-->
<!--      <p>-->
<!--        <strong>Name:</strong>-->
        <%#= link_to beer.name, beer %>
<!--      </p>-->

<!--      <p>-->
<!--        <strong>Style:</strong>-->
        <%#= beer.style %>
<!--      </p>-->

<!--    </div>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New beer", new_beer_path %>

<%= link_to('New Beer', new_beer_path, class:'btn btn-primary') if current_user %>

<p><%= link_to "List of breweries", breweries_path %></p>
